<%= form_for(site, remote: true) do |f| %>
    <% if site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

          <ul>
            <% site.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :url %>
      <br>
      <%= f.text_field :url %>
    </div>
    <div class="actions">
      <%= f.submit 'Save', class: "btn btn-primary"%>
    </div>
<% end %>
