<%- model_class = Site -%>
<div class="page-header">
  <h1><%=t '.title', :default => ("Alexa Top 100 Sites") %></h1>
</div>
<table class="table table-striped" id="sites_table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:alexa_rank) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th colspan="2"><%= model_class.human_attribute_name(:url).upcase %></th>
      <th>Preview</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.alexa_rank %></td>
        <td><%= site.name %></td>
        <td><%= link_to site.url, target: :blank %><td/>
        <td><%= image_tag site.screenshot.url(:thumb) %></td>
        <td>
          <%= link_to 'Edit',  '#', 'data-target' => "#modal_site_info_#{site.id}", 'data-toggle' => 'modal', class: 'btn btn-default btn-xs'  %>
          <div class="modal fade" id='<%= "modal_site_info_#{site.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Edit site information</h4>
                </div>
                <div class="modal-body">
                  <%= render 'sites/form', site: site %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            site_path(site),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot align="center">
    <tr>
      <td colspan="5"><%= paginate @sites %></td>
    </tr>
  </tfoot>
</table>
